@import "../../../reset";
.container {
  text-align: center;
  margin-bottom: 2em;
  padding: 2em;
  background-color: white;
  .wrapper {
    @include verticalMobile {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      align-items: center;
      width: 95%;
      margin: auto;
    }
    @include windows {
      grid-template-columns: auto auto auto;
    }
  }
}
